body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: white;
    color: black;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
footer {
    height: 50px;
    background: #111;
    color: lightblue;
    text-align: center;
}

h1{
    color: white;
}
hr {
    display: block;
    margin: 20px auto;
    clear: both;
    padding: 0;
    border-width: 0px;
    clear:both;

    background-color: black;
    color: black;
}

p {
    margin:0 auto;
    padding: 20px;
    line-height: 2em;
    color: black;
    background-color: #fff;
    font-family: Tahoma;
    text-align: left;
    font-size: 18px;
}

p:first-letter {
    font-size: 300%;
    padding: 10px;
}

p:nth-child(odd) {
    background-color: #eee;
    border-bottom: 2px solid darkgray;
}

.textContainer{
    border-radius: 20px;
    border: 5px sold green;
    
}

#introContainer {
    background-color: #fff;
    display: flex;
    
    margin: 0;
    padding: 0;

    max-height: 100vh;
    width: 100%;
}
#imgContainer {
    display: flex;
    margin: 0;
    background-size: contain;
    overflow: hidden;
}
#headshot {
    animation-name: fadeInPic;
    animation-duration: 0.66s;
    background-position-x: 0%;
    margin: 0;
    height: 100vh;
    left: 0;
    top: 0;
}

#nameContainer {
    justify-self: center;
    margin: auto;
    padding: 0;
}

.name {
    animation-name: growFont;
    animation-duration: 2s;
    font-size: 5vw;
}

@keyframes growFont {
    0% {
        font-size: 2.5vw;
        opacity: 0;
    }
    100%{
        font-size: 5vw;
        opacity: 1;
    }
}


.largeHr {
    animation-name: expandHr;
    animation-duration: 5s;
    height: 5px;
}

.smallHr {
    animation-name: expandHr-small;
    animation-duration: 3s;

    width: 25%;
    height: 2px;
}
.viewHeight {
    height: 100vh;
}

/* NAVBAR */

.navContainer {
    margin: 0;
    padding: 0;
    border: 0;
    
}
.navPanel {
    display: flex;
    align-content: flex-start;
}
.navbar {
    position: fixed;
    width: 100vw;
    z-index: 2;
    padding: 20px 0 10px 0;
    z-index: 1;
    background-color: black;
    border-width: 3px;
    border-bottom-color: white;
    opacity: 0.75;
    border-bottom-style: solid;
    margin: 0;
}
.aboutContainer {
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px 200px 50px;
    display: grid;
    grid-row-gap: 50px;

    grid-template-columns: 1fr 6fr;
    column-gap: 20px;
    background: #222;
    
}

.aboutContainer h1 {
    color: lightyellow;
}

.navbarElement 
{
    opacity: 1;
    display: inline;
    list-style: none;
}
.navbarElement a {
    margin: 20px;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    color: lightyellow;
    opacity: 1;
}
.navbarElement a:hover {
    animation-name: fadeInButton;
    animation-duration: 0.25s;
    background-color: lightyellow;
    color: black;
    opacity: 1;
}

@keyframes fadeInButton {
    0% { background-color: black; }
    100% { background-color: lightyellow;}

}

@keyframes fadeInIntro 
{
    0% {
        color:lightgray;
        background-color: black;
    }
    100% {
        color:black;
        background-color: lightgray;
    }
}


.vertical-align {
    display: flex;
    align-items: center;
}
    

.zero {
    margin: 0;
    padding: 0;
    border: 0;
}

@keyframes fadeInPic 
{
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 100;
    }
}

@keyframes expandHr {
    0% { 
        width: 25%;
        opacity: 0;
    }
    100% { 
        width: 100%;
        opacity: 1;
    }
}

@keyframes expandHr-small {
    0% { 
        width: 0%;
        opacity: 0;
    }
    100% { 
        width: 25%;
        opacity: 1;
    }
}