body {
    background: linear-gradient(to bottom, #333,  black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    position: fixed;
    padding: 24px 0px;
    border-bottom: 1px solid rgba(245, 222, 179, 0.25);
    width: 100%;
    background: linear-gradient(to bottom, #333, #222);
    z-index: 2;
}

h1 {
    margin: 96px auto;
    padding-bottom: 25px;
    line-height: 0.666;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-weight: 300;
    color: wheat;
    border-bottom: 1px solid wheat;
}

h2 {
    display: inline-block;
    margin: 48px auto;
    padding: 24px;
    font-weight: 100;
    font-size: 48px;
    color: wheat;
    text-align: left;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    padding: 24px;
    color: white;
    font-weight: 100;
    margin-bottom: 24px;
    border-bottom: 3px dashed wheat;
    width: 50%;
}

hr {
    display: block;
    margin: auto;
    background-color: #222;
    color: #222;
    width: 85%;
}

p {
    line-height: 2em;
    color: black;
    background-color: #fff;
    border: 24px solid white;
    font-size: 18px;
    overflow: hidden;
    box-shadow:3px 0px 2px wheat;
}

form {
    margin: 0px auto 100px auto;
}

label {
    display:block;
    margin-bottom: 12px;
    
    color:white;
    text-align: left;
    width: 100%;
    font-size: 24px;
    font-weight: 100;
}

input {
    display: block;
    margin: 0px auto 25px auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    padding: 12px;
    margin: 0px auto 25px auto;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    font-size: 14px;
    line-height: 1.6em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border-width: 0px;
    background-color: wheat;
    color: black;
}

footer {
    margin-top: 64px;
    height: 50px;
    background-color: #111;
    width: 100%;
}

/* ------------------------------------------CLASSES--------------------------------------------------------- */

.footerText {
    margin: auto;
    padding: 24px;
    display: inline-block;
    line-height: 0;
    font-size: 12px;
    color: wheat;
    vertical-align: text-bottom;
}

.inline {
    display: inline;
}

.vertical-align {
    vertical-align: middle;
}

.va-sub {
    vertical-align: sub;
}
/* NAVBAR */

.navLink {
    position: relative;
    padding:6px;
    margin-left: 6px;
    border-radius: 3px;
    color: salmon;
    text-decoration: none;
}

.navbarElement a:hover {
    animation-name: fadeInButton;
    animation-duration: 0.25s;
    background-color: wheat;
    text-decoration: none;
    color: black;
    opacity: 1;
}
.navbarElement {
    list-style: none;
    font-size: 18px;
    margin-left: 12px;
    vertical-align: sub;
}

.activePage {
    border-bottom:1px solid salmon;
    border-radius: 5px;
    font-size: 20px;
    padding:7px;
    text-decoration: none;
    color: wheat;
}

.navLayout {
    position: relative;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6px;
}

.content {
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    margin: 0 auto;
    margin-bottom: 120px;
    width: 66.666%;
    
}


.skills {
    width: 100%;
    font-size: 24px;
    color:black;
    font-weight: 200;
    margin: 0 auto;
    box-sizing: border-box;
}

.skills li {
    background-color: white;
    padding: 24px;
    text-align: left;
    opacity: 0.75;
}

.skills li:hover {
    opacity: 1;
    filter: saturate(1);
    transform: scale(1.025);
    border: 1px solid black;
    z-index: 1;
}

.title {
    margin: 0 auto;    
    margin-bottom: 18px;
    
    color:#333;
    font-size: 6vw;
    text-align: center;
    
    animation-name: title;
    animation-duration: 1s;
}

.subtitle {
    display: block;
    font-size: 3vw;
    font-weight: 150;
    text-align: center;
    margin: 50px;
    color: #555;
    animation-name: blurIn;
    animation-duration: 2s;
}

.col-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.contactContainer 
{
    margin: 0px auto;
    padding: 100px auto;
    width: 60%;
}


.largeHr {
    height: 3px;
    padding: 0;
    margin: 0 auto;
    border: 0;
    
    animation-name: expandHr;
    animation-duration: 1s;
}


/* ------------------------------------------IDS------------------------------------------------------------- */

#intro {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    
    background-color: whitesmoke;    
    box-shadow: 0px 1px 3px wheat;
}

#headshot {
    height: 100%;
    animation-name: blurIn;
    animation-duration: 1s;
}

#nameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: auto;
}


#tools li:nth-child(even) {
    background-color: darkseagreen;
}

#languages li:nth-child(even){
    background-color: cadetblue;
}

#frameworks li:nth-child(even) {
    background-color: lightcoral;
}


/* ------------------------------------------ANIMATIONS------------------------------------------------------ */

@keyframes title {
    0% {
        font-size: 3vw;
        opacity: 0;
    }
    100%{
        font-size: 6vw;
        opacity: 1;
    }
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes expandHr {
    0% { 
        width: 0%;
        opacity: 0;
    }
    50% {
        width: 33%;
        opacity: 0;
    }
    100% { 
        width: 85%;
        opacity: 1;
    }
}

/* ------------------------------------------LAYOUTS--------------------------------------------------------- */

/* Laptop */
@media screen and (max-width: 1024px) {
   
    .main {
        width: 80%;
    }

    #intro {
        height: 100vh;
        position: relative;
        background-image: url("../images/Headshot6.jpg");
        background-position-y: 50%;
        background-size: cover;
    }

    #nameContainer {
        position: absolute;
        top: 20%;
        left: 0;
    }

    .title {
        padding: 12px 0;
        width: 100%;

        font-size: 48px;
        animation: blurIn;
        animation-duration: 2s;

        color: wheat;
        background: black;
    }

    .subtitle {
        font-size: 36px;
        margin: 12px 0;
        padding: 12px 0;
        color: wheat;
        background: black;
    }

    #headshot {
        display: none;
    }

    p {
        line-height: 1.66em;
    }

}


/* Tablet */
@media screen and (max-width: 768px)
{
    .skills li {
        text-align: center;
    }

    p {
        font-size: 16px;
    }
    .main {
        width: 85%;
    }
}

/* Phone */
@media screen and (max-width: 425px)
{
    .main {
        width: 85%;
    }
  
    #nameContainer {
        top: 24px;
        width: 100%;
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .largeHr {
        animation: none;
        animation-name: blurIn;
        animation-duration: 2s;
        width: 100%;
    }

    #intro {

        background-position-x: 50%;
    }
    .title {
        animation-name: blurIn;
        animation-duration: 2s;
        padding: 24px 0;
        margin: 0;
        width: 100%;
        
    }

    .subtitle {
        display: none;
    }

    h1 {
        margin: 48px 0;
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
        margin: 24px 0;
    }
    .skills li {
        font-size: 18px;
    }
    p {
        line-height: 1.6em;
        font-size: 14px;
        width: 85%;
        border: 18px solid white;
        text-shadow: 0px 3px 3px wheat;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .col-2 {
        display: block;
    }
    .col-3 {
        display: block;
    }
    .skills li {
        text-align: center;
    }
    .navbarElement {
        display: none;
    }
    .navLink {
        display: none;
    }
}

/* XS */
@media screen and (max-width: 300px)
{
    
}