body {
    background-color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    
    position: fixed;

    display: flex;
    vertical-align: middle;
    padding: 24px;
    margin: 0 auto;
    
    top:0;
    left:0;

    line-height: 1;

    width: 100vw;
    z-index: 2;
    opacity: 0.91666;
    background-color: #111;
}

h1 {
    margin: 96px 0px;
    padding-bottom: 25px;
    line-height: 0.666;
    
    text-align: left;
    font-size: 64px;
    font-weight: 300;
    color: wheat;
    border-bottom: 1px solid wheat;
}

h2 {
    display: inline-block;
    margin: 48px auto;
    padding: 24px;
    font-weight: 100;
    font-size: 48px;
    color: wheat;
    text-align: left;
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    padding: 24px;
    color: white;
    font-weight: 100;
    margin-bottom: 24px;
    border-bottom: 3px dashed wheat;
    width: 50%;
}

hr {
    margin: auto;
    background-color: #222;
    color: #222;
    width: 100%;
}

p {
    width: 100%;
    margin: 0px;
    padding: 24px;
    line-height: 2em;
    color: black;
    background-color: #fff;
    font-family: Tahoma;
    text-align: left;
    font-size: 18px;
}

form {
    margin: 0px auto 100px auto;
}

label {
    display:block;
    margin-bottom: 12px;
    
    color:white;
    text-align: left;
    width: 100%;
    font-size: 24px;
    font-weight: 100;
}

input {
    display: block;
    margin: 0px auto 25px auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    padding: 12px;
    margin: 0px auto 25px auto;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    font-size: 14px;
    line-height: 1.6em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border-width: 0px;
    background-color: wheat;
    color: black;
}

footer {
    margin-top: 64px;
    height: 50px;
    background-color: #111;
    width: 100%;
}

/* ------------------------------------------CLASSES--------------------------------------------------------- */

.footerText {
    margin: auto;
    padding: 24px;
    display: inline-block;
    line-height: 0;
    font-size: 12px;
    color: wheat;
    vertical-align: text-bottom;
}


.inline {
    display: inline;
}

.vertical-align {
    vertical-align: middle;
}

.fab {
    margin-right: 10px;
    padding:5px;
    font-size: 30px;
    display: inline;
    text-align: center;
}

.fab:hover {
    color:white;
}

.fa-facebook-square {
    color: #3C5A99;
}

.fa-instagram {
    color: #C13584;
}

.fa-snapchat-square {
    color: #FFFC00;
}

.layout {
    line-height: 2;
    padding: auto;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-right: 50px;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6px;
}

.content {
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    margin: 0 auto;
    width: 66.666%;
    background: #222;
}


.skills {
    width: 100%;
    font-size: 24px;
    color:black;
    font-weight: 200;
    margin: 0 auto;
    box-sizing: border-box;
}

.skills li {
    background-color: white;
    padding: 24px;
    text-align: left;
    opacity: 0.75;
}

.skills li:hover {
    opacity: 1;
    filter: saturate(1);
    transform: scale(1.025);
    border: 1px solid black;
    z-index: 1;
}

.title {
    display:block;
    margin: 0 auto;
    height: 96px;
    
    margin-bottom: 18px;
    
    color:#333;
    font-size: 96px;
    text-align: center;
    
    animation-name: title;
    animation-duration: 1s;
}

.subtitle {
    font-size: 48px;
    font-weight: 150;
    text-align: center;
    margin: 50px;
    color: #555;
    animation-name: blurIn;
    animation-duration: 2s;
}

.newspaper {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.contactContainer 
{
    margin: 0px auto;
    padding: 100px auto;
    width: 60%;
}


.largeHr {
    height: 3px;
    padding: 0;
    margin: 0 auto;
    border: 0;
    
    animation-name: expandHr;
    animation-duration: 1s;
}

.navbarElement {
    display: inline;
    list-style: none;
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.activePage {
    box-sizing: border-box;
    border-bottom:1px solid salmon;
    border-radius: 5px;
    padding:7px;
    text-decoration: none;
    color: wheat;
}

.navLink {
    vertical-align: middle;
    text-decoration: none;
    border-radius: 5px;
    padding:7px;
    color: salmon;
}

.navbarElement a:hover {
    animation-name: fadeInButton;
    animation-duration: 0.25s;
    background-color: wheat;
    text-decoration: none;
    color: black;
    opacity: 1;
}

/* ------------------------------------------IDS------------------------------------------------------------- */

#intro {
    background-color: whitesmoke;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#introImg {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3px;
    background-color: white;
    background-image:url("../images/Headshot2.png");
    background-size: contain;
    background-repeat: no-repeat;
    
}

#headshot {
    animation-name: blurIn;
    height: 100%;
    animation-duration: 1s;
    margin: 0;
}

#nameContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: auto;
    padding: 0;
}


#tools li:nth-child(even) {
    background-color: darkseagreen;
}

#languages li:nth-child(even){
    background-color: cadetblue;
}

#frameworks li:nth-child(even) {
    background-color: lightcoral;
}


/* ------------------------------------------ANIMATIONS------------------------------------------------------ */

@keyframes title {
    0% {
        font-size: 64px;
        opacity: 0;
    }
    100%{
        font-size: 96px;
        opacity: 1;
    }
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes expandHr {
    0% { 
        width: 0%;
        opacity: 0;
    }
    50% {
        width: 33%;
        opacity: 0;
    }
    100% { 
        width: 100%;
        opacity: 1;
    }
}

/* ------------------------------------------LAYOUTS--------------------------------------------------------- */

/* M */
@media screen and (max-width: 1050px)
{

    h2 {
        text-align: center;
    }
    .col-3 {
        display: block;
    }
    .skills li {
        text-align: center;
    }
}

/* S */
@media screen and (max-width: 800px)
{
    
}

/* XSL */
@media screen and (max-width: 800px)
{
    
}