body {
    background: linear-gradient(to bottom, #333,  black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
figcaption {
    background: black;
    color: wheat;
    padding: 12px;
    font-size: 24px;
}
figure {
    line-height: 2em;
    tab-size: 4;
}
pre {
    padding: 24px;
    overflow: auto;
    font-family: monospace;
    font-size: 16px;
}

/* ------ Navbar ------ */

nav {
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    margin: 0 auto;
    padding:24px;    
    opacity: 0.96;
    background: linear-gradient(to bottom, #333, #222);
    border-bottom: 1px solid rgba(245, 222, 179, 0.25);
    z-index: 2;
}
.navElement {
    display: inline;
    padding: 12px;
}
.activePage {
    padding: 6px;
    box-sizing: border-box;
    border-bottom: 1px solid salmon;
    color: wheat;
}
.navLink {
    position: relative;
    margin: 0 auto;
    padding: 6px;
    color: lightblue;
}
.navLink:hover {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    border-radius: 6px;
    background-color: wheat;
    color: black;
}

/* Mobile navbar button and dropdown */

#mobileNav {
    display: none;
    width: 32px;
    height: 32px;
    padding: 0 12px 0 12px;
    vertical-align: middle;
}
#dropdown {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
}
#dropdown:hover {
    cursor: pointer;
}

/* ------ Title Page ------ */

#intro {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: whitesmoke;    
    box-shadow: 0px 1px 3px wheat;
}
#headshot {
    background-image: url("../images/Headshot6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 100%;
    width: 45%;
    animation-name: blurIn;
    animation-duration: 1s;
}
#titleContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: auto;
}
.title {
    margin: 0 auto;
    margin-bottom: 24px;
    
    color:#333;
    font-size: 6vw;
    text-align: center;
    
    animation-name: title;
    animation-duration: 1s;
}
.largeHr {
    height: 3px;
    margin: 0 auto;
    margin-bottom: 24px;
    animation-name: expandHr;
    animation-duration: 1s;
}
.subtitle {
    margin: 0 auto;
    margin-bottom: 24px;
    
    color: #555;
    font-size: 3vw;
    font-weight: 150;
    text-align: center;
    
    animation-name: blurIn;
    animation-duration: 2s;
}

/* ------ Headings and paragraph ------ */

h1 {
    display: inline-block;
    font-size: 96px;
    padding: 12px;
    margin: 96px auto;
    text-align: center;
    font-weight: 300;
    color: wheat;
}
h2 {
    font-size: 60px;
    margin-bottom: 32px;
    padding: 24px;
    font-weight: 100;
    color: wheat;
    text-align: left;
}
h3 {
    margin: 24px auto;
    padding: 24px 0;
    width: 100%;
    
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    color: white;
}
hr {
    display: block;
    margin: auto;
    background-color: #222;
    color: #222;
    width: 85%;
}
p {
    line-height: 2em;
    color: black;
    background-color: #fff;
    border: 24px solid white;
    font-size: 18px;
    margin-bottom: 12px;
    overflow: hidden;
    box-shadow:3px 0px 2px wheat;
}

/* ------ Skills ------ */

.skills {
    width: 100%;
    margin: 0 auto;
    margin-right: 6px;

    font-size: 24px;
    font-weight: 200;
    color:black;
}
.skills li {
    background-color: white;
    padding: 24px;
    text-align: left;
    opacity: 0.75;
}
.skills li:hover {
    opacity: 1;
    transform: scale(1.025);
}
#tools li:nth-child(even) {
    background-color: darkseagreen;
}
#languages li:nth-child(even){
    background-color: cadetblue;
}
#frameworks li:nth-child(even) {
    background-color: lightcoral;
}

/* ------ Portfolio ------ */

.portfolio {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.portfolio-section {
    background: #111;
    margin: 0;
    padding: 24px 0;
}
.portfolio-inner {
    margin: 0 auto;
    width: 66.666%;
}
.portfolio-section:nth-child(even) {
    background: #222;
}
.project {
    display:flex;
    flex-wrap: wrap;
    background: black;
    margin: 0 24px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    opacity: 0.7;
}
#barbsadventure {
    background: rgb(82,84,91);
    background-size: cover;
    background-image: url("../images/portfolio/barbsadventure_cover.png");
    background-position: 50% 15%;
}
#bitstream {
    background-size: contain;
    background-color: black;
    background-image: url("../images/portfolio/bitstream_cover.png");
}
#website {
    background-size: cover  ;
    background-image: url("../images/Headshot6.jpg");
}
#DNA {
    background-size: cover;
    background-image: url("../images/portfolio/DNA.png"), linear-gradient(to bottom, darkseagreen, maroon);
}
#hangman {
    background-size: cover;
    background-image: url("../images/portfolio/Hangman.png");
}

.project:hover {
    animation-name: enlarge;
    animation-duration: 0.333s;

    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

/* ------ Form Content ------ */

label {
    display:block;
    margin-bottom: 12px;
    color:white;
    text-align: left;
    width: 100%;
    font-size: 24px;
    font-weight: 100;
}
input {
    display: block;
    margin: 0px 0 25px 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
textarea {
    padding: 12px;
    margin-bottom: 24px;
    border-radius: 6px;
    height: 400px;
    width: 100%;
    font-size: 14px;
    line-height: 1.6em;
}
button {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border-width: 0px;
    background-color: wheat;
    color: black;
}

/* ------ Footer ------ */

footer {
    margin-top: 64px;
    height: 50px;
    background-color: #111;
    width: 100%;
}
.footerText {
    margin: auto;
    padding: 24px;
    display: inline-block;
    line-height: 0;
    font-size: 12px;
    color: wheat;
    vertical-align: text-bottom;
}
/* Utility Classes */

.m0 {
    margin: 0;
}
.col-2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.mycol-3 {
    display: flex;
    
    flex-wrap: wrap;
    flex-flow: row;
    flex-direction: row;
    justify-content: flex-start;
    
}
.grid-gap-6 {
    grid-gap: 6px;
}
.main {
    min-height: 100vh;
    margin: 0 auto;
    width: 66.666%;
    margin-bottom: 120px;
}

/* ------ Animations ------- */

@keyframes swoop {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        
        transform: translateX(0%);
    }
}
@keyframes title {
    0% {
        font-size: 3vw;
        opacity: 0;
    }
    100%{
        font-size: 6vw;
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
@keyframes blurIn {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}
@keyframes expandHr {
    0% { 
        width: 0%;
        opacity: 0;
    }
    100% { 
        width: 85%;
        opacity: 1;
    }
}

/* ------ Layouts ------ */

/* Laptop */

@media screen and (max-width: 1024px) {
    .main {
        width: 80%;
    }
    #intro {
        height: 100vh;
        position: relative;
        background-image: url("../images/Headshot6.jpg");
        background-position-y: 50%;
        background-position-x: 50%;
        animation: blurIn;
        animation-duration: 1s;
        background-size: cover;
    }
    #titleContainer {
        position: absolute;
        top: 96px;
        left: 0;
        padding: 24px;
        animation: none;
    }
    .title {
        font-size: 48px;
        padding: 12px;
        animation: none;
        color: black;
        background-color: wheat;
    }
    .subtitle {
        padding: 12px;
        font-size: 36px;
        font-weight: 300;
        color: wheat;
        background-color: black;
    }
    #headshot {
        display: none;
    }
    p {
        line-height: 1.66em;
    }
    hr {
        background: wheat;
    }
}

/* Tablet */

@media screen and (max-width: 768px) {
    .main {
        width: 85%;
    }
    .col-2 {
        display: block;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr;
    }
    .skills li {
        text-align: center;
        font-size: 16px;
    }
    p {
        font-size: 16px;
        border: 18px solid white;
    }
    .skills li {
        opacity: 1;
    }
}

/* Phone */

@media screen and (max-width: 450px) {

    /* Navbar */

    #mobileNav {
        display: inline-block;
    }
    .navElement {
        display: block;
    }
    .navElement {
        padding-left: 0;
    }
    .activePage {
        padding-left: 0;
        padding: 12px;
    }
    .navLayout {
        display: none;
    }
    .navLink {
        padding: 12px;
        margin: 0 auto;
    }

    /* Title page */

    #intro {
        position: relative;
    }
    #titleContainer {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        top: 0;
    }
    .title {
        position: absolute;
        top: 10%;
        padding: 24px;
        margin: 0 auto;
        font-size: 12vw;
        opacity: 0.5;
    }
    .subtitle {
        position: absolute;
        text-align: center;
        bottom: 0;
        padding: 12px;
        margin: 0 auto;
        font-size: 8vw;

        color: wheat;
        background: black;
    }
    .skills li {
        font-size: 18px;
        text-align: center;
    }
    h1 {
        margin: 48px 0;
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
        margin: 24px 0;
    }
    p {
        line-height: 1.6em;
        font-size: 14px;
        width: 85%;
        border: 18px solid white;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .col-2 {
        display: block;
    }
    .col-3 {
        display: block;
    }  
}