#intro-canvas {
  //background: url("../../assets/images/ep.png");
  background: $dark-bg;
  width: 100vw;
  height: 50vh;
  position: absolute;
  z-index: 0;
  cursor: none;

  @include breakpoint-sm {
    height: 100vh;
  }
}
