canvas {
  width: 100%;
  height: 100vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // background: url("../../assets/images/oriental.png") fixed center;
  // border-bottom: 3px double $dark;
}
