.footer {
  background: #111;
  margin-top: 10rem;

  @include breakpoint-sm {
    margin-top: 0;
  }

  .footer-container {
    max-width: $container;
    margin: auto;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
      margin-left: 1rem;
    }
  }

  &-list {
    margin: 0 auto;

    h1 {
      font-weight: 400;
      font-style: italic;
      font-size: 1.5rem;
      color: $primary;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      border-bottom: 1px solid $tertiary;

      @media screen and (max-width: $breakpoint-sm) {
        color: $primary;
        font-weight: 400;
      }
    }

    ul {
      li {
        font-size: 1rem;
        font-weight: 300;
        color: #888;
        margin-bottom: 1rem;

        @media screen and (max-width: $breakpoint-sm) {
          color: $bg;
        }

        &:hover {
          cursor: pointer;
          color: white;

          @media screen and (max-width: $breakpoint-sm) {
            color: $bg;
          }
        }

        a {
          color: #888;

          @media screen and (max-width: $breakpoint-sm) {
            color: $bg;
          }

          &:visited {
            color: #888;

            @media screen and (max-width: $breakpoint-sm) {
              color: $bg;
            }
          }

          &:hover {
            @media screen and (max-width: $breakpoint-sm) {
              color: $bg;
            }

            color: $bg;
          }
        }
      }
    }
  }

  &-copyright {
    margin: auto;
    margin-top: auto;
    font-size: 0.5rem;
    padding: 1rem;
    text-align: right;
    color: $secondary;
    max-width: $container;

    @media screen and (max-width: $breakpoint-sm) {
      text-align: left;
      font-size: 0.5rem;
      color: wheat;
    }
  }
}