.footer {
  border-top: 0.618rem double #ddd;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
    background: url('../../assets/images/ep.png');
    background: #111;
    border: none;
  }

  &-list {
    margin: 0 auto;


    h1 {
      font-weight: 700;
      font-size: 1.5rem;
      color: $dark;
      padding: 1rem 0;

      @media screen and (max-width: $breakpoint-sm) {
        color: $bg;
      }
    }

    ul {
      li {
        font-size: 1rem;
        font-weight: 300;
        color: #666;
        margin-bottom: 1rem;

        @media screen and (max-width: $breakpoint-sm) {
          color: $bg;
        }

        &:hover {
          cursor: pointer;
          color: black;

          @media screen and (max-width: $breakpoint-sm) {
            color: $bg;
          }
        }

        a {
          color: #333;

          @media screen and (max-width: $breakpoint-sm) {
            color: $bg;
          }

          &:visited {
            color: #333;

            @media screen and (max-width: $breakpoint-sm) {
              color: $bg;
            }
          }

          &:hover {
            @media screen and (max-width: $breakpoint-sm) {
              color: $bg;
            }

            color: black;
          }
        }
      }
    }
  }

  &-copyright {
    margin-top: auto;
    font-size: 0.75rem;
    padding: 1rem;
    text-align: center;

    @media screen and (max-width: $breakpoint-sm) {
      color: white;
      background: $dark;
    }
  }
}