#intro {
  perspective: 10px;

  .intro-text {
    margin: auto;
    background: $dark;
    background: url("../../assets/images/bg5.jpeg") fixed center;
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
    display: flex;

    @media screen and (max-width: $breakpoint-sm) {
      background: url("../../assets/images/bg5.jpeg") scroll center;
      transform: translateZ(0px);
      z-index: 1;
      height: 100vh;
    }

    .title {
      color: $bg;
      text-align: center;
      font-size: 6rem;
      font-weight: 100;
      font-family: Georgia, "Times New Roman", Times, serif;
      vertical-align: middle;
      margin: auto;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 3rem;

        margin: auto auto;
      }
    }
  }
}