canvas {
  position: absolute;
  z-index: 2;
  height: 50vh;
  width: 100vw;
  background: url("../../assets/images/ep.png");
  background-size: contain;
  opacity: 0.618;

  @media screen and (max-width: $breakpoint-sm) {
    height: 100vh;
    opacity: 0.5;
  }
}

#intro {
  height: 50vh;
  background: url("../../assets/images/stardust.png");
  background-size: cover;
  position: relative;
  margin-bottom: 12vh;

  @media screen and (max-width: $breakpoint-sm) {
    height: 100vh;
    margin-bottom: 1.618 * 10vh;
  }

  .title-container {

    position: absolute;
    display: flex;
    margin-left: 1/7 * 100%;
    width: calc(100vw - (1/7 * 100%));
    height: 100vh;

    @media screen and (max-width: $breakpoint-md) {
      margin-left: 1rem;
      width: calc(100vw - 1rem);
    }

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
      margin: 0;
      margin-top: 50vh;
      width: 100%;
    }

    .canvas-img {
      margin: auto 0;
      $canvas-img-size: 256px;
      flex-shrink: 0;
      background-image: url('../../assets/images/Headshot6.jpg');
      background-size: cover;
      background-position: center;
      box-shadow: 0 0px 1rem $primary;
      width: $canvas-img-size;
      height: $canvas-img-size;
      border-radius: 50%;
      z-index: 3;

      @media screen and (max-width: $breakpoint-sm) {
        margin: auto;
        display: none;
      }
    }

    .canvas-text {
      margin: auto 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 25%;
      text-align: center;
      z-index: 3;

      @media screen and (max-width: $breakpoint-sm) {
        margin: auto;
      }

      .canvas-title {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 3rem;

        @media screen and (max-width: $breakpoint-lg) {
          font-size: 4rem;
        }

        @media screen and (max-width: $breakpoint-md) {
          font-size: 3rem;
        }

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 13vw;
        }
      }

      .canvas-subtitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        font-weight: 300;
        color: $dark;
        line-height: 1;

        @media screen and (max-width: $breakpoint-lg) {
          font-size: 2rem;
        }

        @media screen and (max-width: $breakpoint-md) {
          font-size: 1.5rem;
        }

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 6.5vw;
          color: $bg;
        }

      }

    }
  }
}

.mobile {
  display: none;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }

  .mobile-img {
    margin: auto;
    background: url('../../assets/images/Headshot6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .seperator {
    width: 100%;
    margin-bottom: 1rem;
  }
}