$left-size: 40%;
$right-size: 100% - $left-size;

#intro {
  display: flex;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }
  .intro-left {
    background: url("../../assets/images/Headshot6.jpg") fixed;
    background-size: $left-size auto;
    background-repeat: no-repeat;
    width: $left-size;
    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }
  .intro-right {
    display: flex;
    width: $right-size;
    background: url("../../assets/images/bg2.png") fixed right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: $right-size 100%;
    @media screen and (max-width: $breakpoint-sm) {
      background: url("../../assets/images/Headshot6.jpg") fixed right;
      // background-size: 100% 100%;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: 100%;
    }
    .intro-text {
      margin: auto;
      z-index: 1;
      .title {
        font-size: 6rem;
        margin-bottom: 2rem;
        font-weight: 100;
        color: white;
        // text-shadow: 8px 6px 2px #333;
        text-align: center;
        animation-name: title;
        animation-duration: 1s;
        @include fontSizeAtBreakpoint(4rem, $breakpoint-lg);
        @include fontSizeAtBreakpoint(2.5rem, $breakpoint-xs);
        animation: FadeIn 1s;
      }
      .subtitle {
        animation: FadeIn 1s;
        margin-bottom: 2rem;
        color: white;
        font-size: 3rem;
        font-weight: 150;
        text-align: center;
        @include fontSizeAtBreakpoint(2rem, $breakpoint-lg);
        @include fontSizeAtBreakpoint(1.5rem, $breakpoint-xs);
      }
    }
  }
}
