$left-size: 40%;
$right-size: 100% - $left-size;

#intro {
  width: 100%;
  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
  .intro-text {
    margin: auto;
    z-index: 1;
    width: 100%;
    background: url("../../assets/images/oriental.png") fixed center;
    .title {
      width: 100%;
      margin: auto;
      font-size: 6rem;
      padding: 10rem;
      margin-bottom: 2rem;
      font-weight: 100;
      color: $dark;
      border: 1px solid #ccc;
      text-align: center;
      animation-name: title;
      animation-duration: 1s;
      @include fontSizeAtBreakpoint(4rem, $breakpoint-lg);
      @include fontSizeAtBreakpoint(2.5rem, $breakpoint-xs);
      animation: FadeIn 1s;
    }
    .subtitle {
      animation: FadeIn 1s;
      margin-bottom: 2rem;
      color: white;
      font-size: 3rem;
      font-weight: 150;
      text-align: center;
      @include fontSizeAtBreakpoint(2rem, $breakpoint-lg);
      @include fontSizeAtBreakpoint(1.5rem, $breakpoint-xs);
    }
  }
}
