canvas {
  position: absolute;
  z-index: 2;

}

#intro {
  height: 50vh;
  margin-bottom: 10rem;
  background: url("../../assets/images/ep.png") fixed center;
  position: relative;

  @media screen and (max-width: $breakpoint-sm) {

    height: 50vh;
    margin-bottom: 50vh;
  }

  .title-container {
    position: absolute;
    display: flex;
    margin-left: 1/7 * 100%;
    width: calc(100vw - (1/7 * 100%));
    height: 100vh;
    z-index: 3;

    @media screen and (max-width: $breakpoint-md) {
      margin: auto;
      width: 100%;

    }

    @media screen and (max-width: $breakpoint-sm) {
      display: block;
      margin-top: 25vh;
    }

    .canvas-img {
      margin: auto 0;
      $canvas-img-size: 256px;
      flex-shrink: 0;
      background-image: url('../../assets/images/Headshot6.jpg');
      background-size: cover;
      background-position: center;
      box-shadow: 0 4px 6px $dark;
      width: $canvas-img-size;
      height: $canvas-img-size;
      border-radius: 50%;

      @media screen and (max-width: $breakpoint-sm) {
        // display: none;


        margin: auto;
      }
    }

    .canvas-text {
      margin: auto 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 25%;
      text-align: center;


      @media screen and (max-width: $breakpoint-sm) {
        margin: auto;
      }

      .canvas-title {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 5vw;
        line-height: 0;

        @media screen and (max-width: $breakpoint-lg) {}

        @media screen and (max-width: $breakpoint-md) {}

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 2rem;
          color: $dark;
        }
      }

      .canvas-subtitle {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3vw;
        font-weight: 300;
        color: $dark;
        line-height: 0;

        @media screen and (max-width: $breakpoint-sm) {
          font-size: 1.5rem;
        }
      }

    }
  }
}