.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background: #333;
  z-index: 2;
  opacity: 0.95;
  box-shadow: 0 0 10px black;
}
.nav-element {
  display: inline;
  font-size: 1rem;
  margin-right: 2rem;
  padding: 0.25rem;
  box-sizing: border-box;

  .nav-link {
    color: lightblue;
    &:hover {
      color: wheat;
      border-bottom: 1px solid salmon;
    }
  }

  .active {
    border-bottom: 1px solid salmon;
    color: wheat;
  }
}
