.pop-list {
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: black;
  box-shadow: -1px 1px 1rem darken($bg, 25%);

  @media screen and (max-width: $breakpoint-sm) {
    width: 90%;
  }

  li {
    background-color: #fff;
    overflow-x: hidden;
    padding: 1.5rem;
    text-align: left;
    opacity: 0.75;
    position: relative;
    z-index: 0;
    font-size: 1.25rem;
    transition: transform 0.25s, box-shadow 0.25s, background-color 0.25s;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 1rem;
      font-size: 1rem;
    }

    &:hover {
      background-color: darkseagreen;
      transform: scale(1.025);
      box-shadow: 0 0 3px #666;
      border-radius: 0.5rem;
      opacity: 1;
      z-index: 1;
    }
  }
}

$universal: #ddd;

#tools li:nth-child(even) {
  background-color: darkseagreen;
  background-color: $universal;

  &:hover {
    background-color: darkseagreen;
  }
}

#languages li:nth-child(even) {
  background-color: lightblue;
  background-color: $universal;

  &:hover {
    background-color: darkseagreen;
  }
}

#frameworks li:nth-child(even) {
  background-color: darkseagreen;
  background-color: $universal;

  &:hover {
    background-color: darkseagreen;
  }
}