.pop-list {
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: black;
  box-shadow: -1px 1px 1rem darken($bg, 25%);
  @media screen and (max-width: $breakpoint-sm) {
    width: 90%;
  }

  li {
    background-color: #fff;
    padding: 1.5rem;
    text-align: left;
    opacity: 0.75;
    transition: transform 0.125s, box-shadow 0.25s;
    position: relative;
    z-index: 0;
    font-size: 1.25rem;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 1rem;
      font-size: 1rem;
    }
    &:hover {
      box-shadow: 0 0 3px #666;
      border-radius: 5px;
      opacity: 1;
      transform: scale(1.025);
      z-index: 1;
    }
  }
}
#tools li:nth-child(even) {
  background-color: darkseagreen;
}
#languages li:nth-child(even) {
  background-color: cadetblue;
}
#frameworks li:nth-child(even) {
  background-color: lightcoral;
}
