.pop-list {
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: black;
  box-shadow: -5px 5px 15px darken($bg, 25%);

  li {
    background-color: #fff;
    padding: 1.5rem;
    text-align: left;
    opacity: 0.75;
    transition: transform 0.125s, box-shadow 0.25s;
    position: relative;
    z-index: 0;
    font-size: 1.25rem;

    @media screen and (max-width: $breakpoint-xs) {
      padding: 1rem;
      font-size: 1rem;
    }
    &:hover {
      border-radius: 5px;
      box-shadow: 0 0 0.5rem #fff;
      opacity: 1;
      transform: scale(1.025);
      z-index: 1;
    }
  }
}
#tools li:nth-child(even) {
  background-color: darkseagreen;

  &:hover {
    box-shadow: 0 0 0.5rem darkseagreen;
  }
}
#languages li:nth-child(even) {
  background-color: cadetblue;
  &:hover {
    box-shadow: 0 0 0.5rem cadetblue;
  }
}
#frameworks li:nth-child(even) {
  background-color: lightcoral;
  &:hover {
    box-shadow: 0 0 0.5rem lightcoral;
  }
}
