.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 5px;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }

  &-img {
    background: url("../../images/Headshot2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    background-position: 0% 0%;

    @media screen and (max-width: $breakpoint-sm) {
      height: 500px;
    }
    @media screen and (max-width: $breakpoint-xs) {
      height: 250px;
    }
  }
}
