$project-size: 256px;
$project-size-md: 192px;
$project-size-sm: 128px;
$project-speed: 0.25s;

.portfolio {
  width: 100%;
  margin: auto;
  max-width: 1200px;

  @include breakpoint-md {
    text-align: center;
  }

  @include breakpoint-sm {
    @include reset;
    overflow: hidden;
  }

  .project-reel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    @include breakpoint-lg {

      justify-content: center;
    }

    @include breakpoint-sm {
      @include reset;
    }

    .project {
      opacity: 1;
      margin-right: 3rem;
      display: flex;
      position: relative;
      background: black;
      transition: opacity $project-speed,
        transform $project-speed,
        box-shadow $project-speed;
      @include size($project-size * 2);

      @include breakpoint-md {
        @include reset;
        margin-bottom: 3rem;
      }

      // phone
      @include breakpoint-md {

        @include size(100%);
        opacity: 1;
        box-shadow: none;
        display: block;
        background: none;
      }

      &:hover {
        box-shadow: 0 0 0rem $dark;
        transform: scale(1.05);

        @include breakpoint-sm {
          transform: none;
        }

        .project-label {
          opacity: 1;
        }

        .project-video {

          opacity: 0.5;

        }
      }


      &-video {
        transition: opacity $project-speed;
        @include size(100%);
        @include reset;

        @include breakpoint-md {
          position: block;
        }
      }

      &-label {
        z-index: 3;
        text-align: center;
        background: rgba(16, 16, 16, 0.25);
        padding: 0.5rem;
        font-size: 1.5rem;
        color: $bg;
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 50%;

        transition: opacity $project-speed;

        @include breakpoint-md {
          @include reset;
          margin: auto;
          width: 100%;
          position: static;
          transition: none;
          opacity: 1;
          text-align: left;
          color: $text;
          background: none;
          margin: 1rem;
          font-style: italic;
        }
      }
    }
  }
}