$project-size: 192px;
$project-size-md: 192px;
$project-size-sm: 128px;
$project-speed: 0.25s;

.portfolio {
  max-width: 1200px;
  margin: auto;


  @include breakpoint-md {
    margin: 1rem;
  }

  @include breakpoint-sm {
    @include reset;
    overflow: hidden;
  }

  .project-reel {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;


    @include breakpoint-sm {
      @include reset;
    }

    .project {
      display: grid;
      grid-template-columns: 3fr 4fr;
      grid-gap: 1rem;
      margin-bottom: 3rem;

      @include breakpoint-sm {
        display: block;
      }

      &-video {
        width: 100%;
        box-shadow: 0 0 0.5rem black;

        @include breakpoint-sm {
          width: 100%;
          box-shadow: none;
        }
      }

      &-text {
        margin-left: 1rem;

        .project-title {
          color: $bs-primary;
          font-size: 1.5rem;
          margin: 0 0 1rem 0;

          @include breakpoint-sm {
            margin: 1rem 0;
          }
        }

        .project-description {
          @extend %default-text;
        }
      }
    }

  }
}