.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  border-radius: 5px;
  overflow-x: hidden;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }

  &-text {
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.618rem;
    color: $text;
    width: 50ch;

    br {
      display: block;
    }
    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
      padding: 0 1rem;
    }
  }
  &-img {
    overflow-x: hidden;

    background: url("../../assets/images/Headshot6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    background-position: 50% 50%;
    height: 512px;

    @media screen and (max-width: $breakpoint-md) {
      height: 256px;
      width: 256px;
      margin: auto;
      border-radius: 50%;
    }
    @media screen and (max-width: $breakpoint-sm) {
      height: 250px;
      width: 250px;
      margin: auto;
      margin-bottom: 3rem;
      border-radius: 50%;
    }
  }
}
