#side-drawer {
  background: $bg;
  position: relative;
  // border-right: 6px double #aaa;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }

  #side-list {
    margin: 0 1rem;
    position: sticky;
    display: flex;
    flex-direction: column;

    .side-link {
      user-select: none;
      font-size: 1rem;
      color: $text;
      display: block;
      padding: 1rem;
      margin-bottom: 1rem;
      position: relative;
      transition: color 0.25s, transform 0.25s;

      &:hover {
        color: $dark;
      }
    }

    .active {
      color: $dark;
      transform: translateX(0.5rem) scale(1.1);
    }
  }
}
