#side-drawer {
  background: $bg2;
  position: relative;
  box-shadow: 0 0 0.5rem #aaa;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $breakpoint-md) {
    display: none;
  }

  #side-list {
    margin: 0 3rem;
    position: sticky;
    display: flex;
    flex-direction: column;

    .side-link {
      user-select: none;
      font-size: 1.25rem;
      color: #666;
      display: block;
      padding: 1rem;
      margin-bottom: 1rem;
      position: relative;
      transition: color 0.25s, transform 0.25s;

      &:hover {
        color: $primary;
      }
    }

    .active {
      color: black;
      transform: translateX(1rem) scale(1.1);
    }
  }
}
