#testemonials {
  overflow: hidden;
  .testemonial {
    padding: 2rem;
    opacity: 0;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-sm) {
      text-align: center;
    }
    .quote {
      color: $dark;
      margin: auto;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-style: italic;
      line-height: 2rem;
      @media screen and (max-width: $breakpoint-sm) {
        font-size: 1rem;
      }
    }
    .author {
      color: $dark;
      font-size: 1rem;
      font-weight: 300;
      text-align: left;
      font-style: italic;
      margin: auto;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      @media screen and (max-width: $breakpoint-sm) {
        text-align: center;
        font-weight: 700;
      }
    }
  }
}
