.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;

  @media screen and (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr 6fr;

  @media screen and (max-width: $breakpoint-md) {
    overflow-x: hidden;
    display: block;
  }

  .main {
    padding-left: 0 3rem;
    min-height: 100vh;
    max-width: 1200px;

    @media screen and (max-width: $breakpoint-lg) {
      padding: 0 1rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0;
    }
  }
}