.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;

  @media screen and (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $breakpoint-md) {
    grid-gap: 0rem;

  }

  grid-gap: 0.5rem;

  @media screen and (max-width: $breakpoint-sm) {
    display: block;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr 6fr;

  @media screen and (max-width: $breakpoint-md) {
    overflow-x: hidden;
    display: block;
  }

  .main {
    z-index: 1;
    min-height: 100vh;
    max-width: 1280px;
    padding: 0 3rem;
    // margin: auto;

    @media screen and (max-width: $breakpoint-lg) {
      padding: 0 2rem;
    }

    @media screen and (max-width: $breakpoint-md) {
      padding: 0 2rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
      padding: 0;
    }
  }
}