$primary: #8fbc8f;
$primary-hard: #5ba25b;
$secondary: #bca68f;
$tertiary: #bc8fbc;
$bg: #eee;
$dark: #333;
$text: #666;
// BOOTSTRAP COLOURS
$bs-primary: #0275d8;
$bs-success: #5cb85c;
$bs-info: #5bc0de;
$bs-warning: #f0ad4e;
$bs-danger: #d9534f;
// BREAKPOINTS
$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 800px;
$breakpoint-sm: 500px;
$breakpoint-xs: 320px;