.heading {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem auto;
  color: $dark;
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
  }
}
.sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem;
  color: $text;
  text-align: left;
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.5rem;
    margin: 1.5rem auto;
    margin-left: 1rem;
    text-align: left;
    width: 100%;
  }
}
