h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem auto;
  color: $dark;
  @media screen and (max-width: $breakpoint-xs) {
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
    width: 100%;
  }
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem;
  color: $text;
  text-align: left;
  @media screen and (max-width: $breakpoint-xs) {
    font-size: 1.5rem;
    margin: 1.5rem auto;
    text-align: center;
    width: 100%;
  }
}
h3 {
  margin: 24px auto;
  padding: 24px 0;
  width: 100%;
  text-align: left;
  font-size: 36px;
  font-weight: 100;
  color: $text;
}
h4 {
  font-size: 1.5rem;
  color: $text;
}
p {
  line-height: 1.66em;
  color: $text;
  background-color: #fff;
  padding: 24px;
  font-size: 1rem;
  border-radius: 5px;
}
