#side-drawer {
  background: #ddd;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem #aaa;
          box-shadow: 0 0 0.5rem #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 992px) {
  #side-drawer {
    display: none;
  }
}

#side-drawer #side-list {
  margin: 0 3rem;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#side-drawer #side-list .side-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.25rem;
  color: #666;
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: color 0.25s, -webkit-transform 0.25s;
  transition: color 0.25s, -webkit-transform 0.25s;
  transition: color 0.25s, transform 0.25s;
  transition: color 0.25s, transform 0.25s, -webkit-transform 0.25s;
}

#side-drawer #side-list .side-link:hover {
  color: #555;
}

#side-drawer #side-list .active {
  color: black;
  -webkit-transform: translateX(1rem) scale(1.1);
          transform: translateX(1rem) scale(1.1);
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background: #ddd;
  z-index: 2;
  -webkit-box-shadow: 0 3px 3px #aaa;
          box-shadow: 0 3px 3px #aaa;
  opacity: 0.9;
}

.nav-element {
  display: inline;
  font-size: 1rem;
  margin-right: 2rem;
  padding: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-element .nav-link {
  color: #555;
}

.nav-element .nav-link:hover {
  color: black;
  border-bottom: 3px solid lightcoral;
}

.nav-element .active {
  border-bottom: 3px solid lightcoral;
  color: #555;
}

#social-links {
  margin-left: auto;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 0;
  margin-right: 1rem;
  opacity: 0.7;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.1s;
  transition: opacity 0.1s, -webkit-transform 0.1s;
  transition: opacity 0.1s, transform 0.1s;
  transition: opacity 0.1s, transform 0.1s, -webkit-transform 0.1s;
}

#social-links a:hover {
  opacity: 1;
  -webkit-transform: scale(1.1) rotateZ(-5deg);
          transform: scale(1.1) rotateZ(-5deg);
}

#social-links #facebook {
  color: #3b5998;
}

#social-links #github {
  color: #6e5494;
}

#social-links #instagram {
  color: #c13584;
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #intro {
    display: block;
  }
}

#intro .intro-left {
  background-image: url("../../images/Headshot6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30%;
  background-position-x: 30%;
  background-position-y: 66%;
}

@media screen and (max-width: 768px) {
  #intro .intro-left {
    display: none;
  }
}

#intro .intro-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  background: url("../../../images/bg2.png") fixed right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

@media screen and (max-width: 768px) {
  #intro .intro-right {
    background: url("../../../images/Headshot6.jpg") fixed right;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }
}

#intro .intro-right .intro-text {
  margin: auto;
  z-index: 1;
}

#intro .intro-right .intro-text .title {
  font-size: 6rem;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 1px 1px black;
  text-align: center;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
}

@media screen and (max-width: 1280px) {
  #intro .intro-right .intro-text .title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 425px) {
  #intro .intro-right .intro-text .title {
    font-size: 2.5rem;
  }
}

#intro .intro-right .intro-text .subtitle {
  -webkit-animation: FadeIn 1s;
          animation: FadeIn 1s;
  margin-bottom: 2rem;
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 150;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #intro .intro-right .intro-text .subtitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  #intro .intro-right .intro-text .subtitle {
    font-size: 1.5rem;
  }
}

@-webkit-keyframes FadeIn {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.pop-list {
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: black;
  -webkit-box-shadow: -5px 5px 15px #aeaeae;
          box-shadow: -5px 5px 15px #aeaeae;
}

.pop-list li {
  background-color: #fff;
  padding: 1.5rem;
  text-align: left;
  opacity: 0.75;
  -webkit-transition: -webkit-transform 0.125s, -webkit-box-shadow 0.25s;
  transition: -webkit-transform 0.125s, -webkit-box-shadow 0.25s;
  transition: transform 0.125s, box-shadow 0.25s;
  transition: transform 0.125s, box-shadow 0.25s, -webkit-transform 0.125s, -webkit-box-shadow 0.25s;
  position: relative;
  z-index: 0;
  font-size: 1.25rem;
}

@media screen and (max-width: 425px) {
  .pop-list li {
    padding: 1rem;
    font-size: 1rem;
  }
}

.pop-list li:hover {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0.5rem #fff;
          box-shadow: 0 0 0.5rem #fff;
  opacity: 1;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  z-index: 1;
}

#tools li:nth-child(even) {
  background-color: darkseagreen;
}

#tools li:nth-child(even):hover {
  -webkit-box-shadow: 0 0 0.5rem darkseagreen;
          box-shadow: 0 0 0.5rem darkseagreen;
}

#languages li:nth-child(even) {
  background-color: cadetblue;
}

#languages li:nth-child(even):hover {
  -webkit-box-shadow: 0 0 0.5rem cadetblue;
          box-shadow: 0 0 0.5rem cadetblue;
}

#frameworks li:nth-child(even) {
  background-color: lightcoral;
}

#frameworks li:nth-child(even):hover {
  -webkit-box-shadow: 0 0 0.5rem lightcoral;
          box-shadow: 0 0 0.5rem lightcoral;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .profile {
    display: block;
  }
}

.profile-img {
  background: url("../../images/Headshot2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 5px;
  background-position: 0% 0%;
}

@media screen and (max-width: 768px) {
  .profile-img {
    height: 500px;
  }
}

@media screen and (max-width: 425px) {
  .profile-img {
    height: 250px;
  }
}

footer {
  margin-top: 4rem;
  padding: 1rem;
  color: #666;
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

a:hover {
  cursor: pointer;
}

body {
  background: #eee;
}

.fa {
  line-height: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.5rem;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  margin: 3rem auto;
  color: #555;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 2rem;
    margin: 2rem auto;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem;
  color: #555;
  text-align: left;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 1.5rem;
    margin: 1.5rem auto;
  }
}

h3 {
  margin: 24px auto;
  padding: 24px 0;
  width: 100%;
  text-align: left;
  font-size: 36px;
  font-weight: 100;
  color: #555;
}

h4 {
  font-size: 1.5rem;
  color: #555;
}

p {
  line-height: 1.66em;
  color: #555;
  background-color: #fff;
  padding: 24px;
  font-size: 1rem;
  border-radius: 5px;
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .col-3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .col-3 {
    display: block;
  }
}

.grid-gap-6 {
  grid-gap: 0.5rem;
}

.main {
  padding: 0 3rem;
  min-height: 100vh;
  max-width: 1200px;
}

@media screen and (max-width: 992px) {
  .main {
    margin: 0;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 425px) {
  .main {
    margin: 0;
    padding: 0.5rem;
  }
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
}

@media screen and (max-width: 992px) {
  .layout {
    display: block;
  }
}
